.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

@font-face {
  font-family: 'Fira Code';
  src: local('FiraCode'), url(./fonts/FiraCode-Regular.ttf) format('truetype')
}

.topDiv {
  background-color: #242830;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#top {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
}

.span {
  background-color: #22252b;
  border-radius: 25px;
  padding: 16px;
  margin: 25px;
}

.header {
  font-family: 'Fira Code', monospace;
  font-size: 200%;
  color: #ffffff;
  align-self: center;
}

.logoImage {
  height: 10vmin;
  pointer-events: none;
  padding: 7px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: rotate infinite 10s ease-in-out;
}

.image:hover {
  cursor: pointer;
}

@keyframes rotate {
  
  0% {
      transform: rotate(5deg);
  }

  50% {
      transform: rotate(-5deg);
  }

  100% {
      transform: rotate(5deg);
  }
}